<div class="render-mode-{{ renderMode }}">
    <div class="bg-grid">
        <div class="container">
            <div class="content">&nbsp;</div>
        </div>
    </div>
    <div class="page">
        {{ children }}
    </div>
</div>
